In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
diabetes_df = pd.read_csv("Resources/merged.csv")
diabetes_df.head()

,Unnamed: 0,SEQN,diabetes,insulin,worry_food,food_not_last,balanced_meals,food_security,emergency_food,food_stamp,...,mod_work_activity,vig_work_activity,walk_bicycle,vig_rec_activity,mod_rec_activity,height_in,10lb_losses,diet_health,week_meals_not_home,month_frozen_food
0,0,93705.0,2,2,3.0,3.0,3.0,1.0,2.0,2.0,...,2,2,2,2,1,63.0,4,3.0,5.0,0.0
1,1,93711.0,2,2,3.0,3.0,3.0,1.0,2.0,2.0,...,2,2,1,1,1,69.0,5,2.0,4.0,0.0
2,2,93712.0,2,2,2.0,2.0,2.0,3.0,2.0,1.0,...,1,1,2,1,1,68.0,5,4.0,12.0,0.0
3,3,93713.0,2,2,3.0,3.0,3.0,1.0,2.0,2.0,...,2,2,1,2,1,70.0,5,4.0,0.0,3.0
4,4,93714.0,1,1,3.0,3.0,3.0,1.0,1.0,2.0,...,2,2,2,2,2,60.0,4,4.0,5.0,8.0

In [2]:
diabetes_df.nunique()

Unnamed: 0               3441
SEQN                     3441
diabetes                    3
insulin                     2
worry_food                  3
food_not_last               3
balanced_meals              3
food_security               4
emergency_food              2
food_stamp                  2
monthly_income             12
family_savings              2
grocery_transport           9
health_insurance            2
pulse                       2
bmi                       383
weight                    916
12mo_alcohol               11
many_drinks_regularly       2
minutes_sedentary          41
mod_work_activity           2
vig_work_activity           2
walk_bicycle                2
vig_rec_activity            2
mod_rec_activity            2
height_in                  31
10lb_losses                 5
diet_health                 5
week_meals_not_home        22
month_frozen_food          30
dtype: int64

In [3]:
diabetes_df = diabetes_df.drop(columns = ['Unnamed: 0', 'SEQN', 'worry_food', 'food_not_last', 'balanced_meals', 'food_security', 'emergency_food', 'food_stamp', 'monthly_income', 'family_savings',
'grocery_transport', 'health_insurance', 'pulse', 'bmi', 'weight', '12mo_alcohol', 'many_drinks_regularly', 'minutes_sedentary', 'mod_work_activity', 'vig_work_activity',
'walk_bicycle', 'vig_rec_activity', 'mod_rec_activity', 'height_in', '10lb_losses', 'diet_health', 'week_meals_not_home', 'month_frozen_food'])
diabetes_df

      diabetes  insulin
0            2        2
1            2        2
2            2        2
3            2        2
4            1        1
...        ...      ...
3436         2        2
3437         2        2
3438         2        2
3439         2        2
3440         2        2

[3441 rows x 2 columns]

In [4]:
dummies_diabetes_df = pd.get_dummies(diabetes_df, dtype=float)
dummies_diabetes_df

      diabetes  insulin
0            2        2
1            2        2
2            2        2
3            2        2
4            1        1
...        ...      ...
3436         2        2
3437         2        2
3438         2        2
3439         2        2
3440         2        2

[3441 rows x 2 columns]

In [5]:
# Change variable to insulin 

y = dummies_diabetes_df["insulin"].values
X = dummies_diabetes_df.drop(["insulin"], axis=1).values
print(X)
print(y)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

[[2]
 [2]
 [2]
 ...
 [2]
 [2]
 [2]]
[2 2 2 ... 2 2 2]

In [6]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# Changed the number of hidden nodes

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  2
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=3, activation="softmax"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 2)                 4
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 12
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 15
=================================================================
Total params: 31
Trainable params: 31
Non-trainable params: 0
_________________________________________________________________

In [8]:
nn.compile(loss="sparse_categorical_crossentropy", optimizer="adam", metrics=["accuracy"])

In [9]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
81/81 [==============================] - 2s 5ms/step - loss: 1.0552 - accuracy: 0.6950: 0s - loss: 1.0703 - accuracy: 0.65
Epoch 2/100
81/81 [==============================] - 0s 5ms/step - loss: 0.8412 - accuracy: 0.9516
Epoch 3/100
81/81 [==============================] - 0s 4ms/step - loss: 0.6260 - accuracy: 0.9605
Epoch 4/100
81/81 [==============================] - 0s 4ms/step - loss: 0.4415 - accuracy: 0.9605
Epoch 5/100
81/81 [==============================] - 0s 4ms/step - loss: 0.3125 - accuracy: 0.9605: 0s - loss: 0.3352 - accuracy:
Epoch 6/100
81/81 [==============================] - 0s 5ms/step - loss: 0.2349 - accuracy: 0.9605
Epoch 7/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1920 - accuracy: 0.9605
Epoch 8/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1675 - accuracy: 0.9605
Epoch 9/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1528 - accuracy: 0.9605
Epoch 10/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1433 - accuracy: 0.9605
Epoch 11/100
81/81 [==============================] - 0s 5ms/step - loss: 0.1368 - accuracy: 0.9605
Epoch 12/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1321 - accuracy: 0.9605
Epoch 13/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1286 - accuracy: 0.9605
Epoch 14/100
81/81 [==============================] - 0s 5ms/step - loss: 0.1258 - accuracy: 0.9605
Epoch 15/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1234 - accuracy: 0.9605
Epoch 16/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1214 - accuracy: 0.9605
Epoch 17/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1196 - accuracy: 0.9605
Epoch 18/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1180 - accuracy: 0.9605: 0s - loss: 0.1130 - accura
Epoch 19/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1165 - accuracy: 0.9605
Epoch 20/100
81/81 [==============================] - 0s 5ms/step - loss: 0.1152 - accuracy: 0.9605
Epoch 21/100
81/81 [==============================] - 0s 5ms/step - loss: 0.1140 - accuracy: 0.9605: 0s - loss: 0.1079 - accuracy: 0.96
Epoch 22/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1128 - accuracy: 0.9605
Epoch 23/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1117 - accuracy: 0.9605
Epoch 24/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1107 - accuracy: 0.9605
Epoch 25/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1098 - accuracy: 0.9605
Epoch 26/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1089 - accuracy: 0.9605
Epoch 27/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1081 - accuracy: 0.9605
Epoch 28/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1073 - accuracy: 0.9605
Epoch 29/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1066 - accuracy: 0.9605
Epoch 30/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1060 - accuracy: 0.9605
Epoch 31/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1053 - accuracy: 0.9605
Epoch 32/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1047 - accuracy: 0.9605
Epoch 33/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1041 - accuracy: 0.9605
Epoch 34/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1036 - accuracy: 0.9605
Epoch 35/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1030 - accuracy: 0.9605: 0s - loss: 0.1039 - accuracy: 0.96
Epoch 36/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1025 - accuracy: 0.9605
Epoch 37/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1021 - accuracy: 0.9605
Epoch 38/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1016 - accuracy: 0.9605: 0s - loss: 0.0796 - accuracy
Epoch 39/100
81/81 [==============================] - 0s 5ms/step - loss: 0.1012 - accuracy: 0.9605
Epoch 40/100
81/81 [==============================] - 0s 4ms/step - loss: 0.1008 - accuracy: 0.9605
Epoch 41/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1004 - accuracy: 0.9605
Epoch 42/100
81/81 [==============================] - 0s 3ms/step - loss: 0.1001 - accuracy: 0.9605
Epoch 43/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0997 - accuracy: 0.9605
Epoch 44/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0994 - accuracy: 0.9605
Epoch 45/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0990 - accuracy: 0.9605
Epoch 46/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0987 - accuracy: 0.9605
Epoch 47/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0985 - accuracy: 0.9605
Epoch 48/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0982 - accuracy: 0.9605
Epoch 49/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0980 - accuracy: 0.9605
Epoch 50/100
81/81 [==============================] - 1s 8ms/step - loss: 0.0977 - accuracy: 0.9605: 0s - loss: 0.079
Epoch 51/100
81/81 [==============================] - 0s 5ms/step - loss: 0.0975 - accuracy: 0.9605
Epoch 52/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0972 - accuracy: 0.9605
Epoch 53/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0970 - accuracy: 0.9605
Epoch 54/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0968 - accuracy: 0.9605
Epoch 55/100
81/81 [==============================] - 1s 9ms/step - loss: 0.0966 - accuracy: 0.9605
Epoch 56/100
81/81 [==============================] - 1s 7ms/step - loss: 0.0964 - accuracy: 0.9605
Epoch 57/100
81/81 [==============================] - 1s 8ms/step - loss: 0.0962 - accuracy: 0.9605
Epoch 58/100
81/81 [==============================] - 1s 12ms/step - loss: 0.0960 - accuracy: 0.9605
Epoch 59/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0959 - accuracy: 0.9605
Epoch 60/100
81/81 [==============================] - 0s 6ms/step - loss: 0.0957 - accuracy: 0.9605: 0s - loss: 0.0989 - accura
Epoch 61/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0955 - accuracy: 0.9605
Epoch 62/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0954 - accuracy: 0.9605
Epoch 63/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0953 - accuracy: 0.9605
Epoch 64/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0951 - accuracy: 0.9605
Epoch 65/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0950 - accuracy: 0.9605
Epoch 66/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0949 - accuracy: 0.9605
Epoch 67/100
81/81 [==============================] - 0s 5ms/step - loss: 0.0948 - accuracy: 0.9605
Epoch 68/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0946 - accuracy: 0.9605
Epoch 69/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0945 - accuracy: 0.9605
Epoch 70/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0945 - accuracy: 0.9605
Epoch 71/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0943 - accuracy: 0.9605
Epoch 72/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0942 - accuracy: 0.9605
Epoch 73/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0941 - accuracy: 0.9605
Epoch 74/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0941 - accuracy: 0.9605
Epoch 75/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0940 - accuracy: 0.9605
Epoch 76/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0939 - accuracy: 0.9605
Epoch 77/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0939 - accuracy: 0.9605
Epoch 78/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0938 - accuracy: 0.9605
Epoch 79/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0936 - accuracy: 0.9605
Epoch 80/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0937 - accuracy: 0.9605
Epoch 81/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0936 - accuracy: 0.9605
Epoch 82/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0935 - accuracy: 0.9605
Epoch 83/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0935 - accuracy: 0.9605
Epoch 84/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0933 - accuracy: 0.9605
Epoch 85/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0933 - accuracy: 0.9605
Epoch 86/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0932 - accuracy: 0.9605
Epoch 87/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0932 - accuracy: 0.9605
Epoch 88/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0932 - accuracy: 0.9605
Epoch 89/100
81/81 [==============================] - 1s 7ms/step - loss: 0.0931 - accuracy: 0.9605
Epoch 90/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0930 - accuracy: 0.9605
Epoch 91/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0930 - accuracy: 0.9605
Epoch 92/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0929 - accuracy: 0.9605
Epoch 93/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0929 - accuracy: 0.9605
Epoch 94/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0928 - accuracy: 0.9605
Epoch 95/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0928 - accuracy: 0.9605
Epoch 96/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0928 - accuracy: 0.9605
Epoch 97/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0927 - accuracy: 0.9605: 0s - loss: 0.0921 - accuracy: 0.95
Epoch 98/100
81/81 [==============================] - 0s 4ms/step - loss: 0.0927 - accuracy: 0.9605
Epoch 99/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0927 - accuracy: 0.9605
Epoch 100/100
81/81 [==============================] - 0s 3ms/step - loss: 0.0926 - accuracy: 0.9605

In [10]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

27/27 - 0s - loss: 0.0937 - accuracy: 0.9593
Loss: 0.09374703466892242, Accuracy: 0.9593495726585388