In [14]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
diabetes_df = pd.read_csv("Resources/merged.csv")
diabetes_df.head()

,Unnamed: 0,SEQN,diabetes,insulin,worry_food,food_not_last,balanced_meals,food_security,emergency_food,food_stamp,...,mod_work_activity,vig_work_activity,walk_bicycle,vig_rec_activity,mod_rec_activity,height_in,10lb_losses,diet_health,week_meals_not_home,month_frozen_food
0,0,93705.0,2,2,3.0,3.0,3.0,1.0,2.0,2.0,...,2,2,2,2,1,63.0,4,3.0,5.0,0.0
1,1,93711.0,2,2,3.0,3.0,3.0,1.0,2.0,2.0,...,2,2,1,1,1,69.0,5,2.0,4.0,0.0
2,2,93712.0,2,2,2.0,2.0,2.0,3.0,2.0,1.0,...,1,1,2,1,1,68.0,5,4.0,12.0,0.0
3,3,93713.0,2,2,3.0,3.0,3.0,1.0,2.0,2.0,...,2,2,1,2,1,70.0,5,4.0,0.0,3.0
4,4,93714.0,1,1,3.0,3.0,3.0,1.0,1.0,2.0,...,2,2,2,2,2,60.0,4,4.0,5.0,8.0

In [15]:
diabetes_df.nunique()

Unnamed: 0               3441
SEQN                     3441
diabetes                    3
insulin                     2
worry_food                  3
food_not_last               3
balanced_meals              3
food_security               4
emergency_food              2
food_stamp                  2
monthly_income             12
family_savings              2
grocery_transport           9
health_insurance            2
pulse                       2
bmi                       383
weight                    916
12mo_alcohol               11
many_drinks_regularly       2
minutes_sedentary          41
mod_work_activity           2
vig_work_activity           2
walk_bicycle                2
vig_rec_activity            2
mod_rec_activity            2
height_in                  31
10lb_losses                 5
diet_health                 5
week_meals_not_home        22
month_frozen_food          30
dtype: int64

In [16]:
diabetes_df = diabetes_df.drop(columns = ['Unnamed: 0','SEQN'])
diabetes_df

,diabetes,insulin,worry_food,food_not_last,balanced_meals,food_security,emergency_food,food_stamp,monthly_income,family_savings,...,mod_work_activity,vig_work_activity,walk_bicycle,vig_rec_activity,mod_rec_activity,height_in,10lb_losses,diet_health,week_meals_not_home,month_frozen_food
0,2,2,3.0,3.0,3.0,1.0,2.0,2.0,2.0,2.0,...,2,2,2,2,1,63.0,4,3.0,5.0,0.0
1,2,2,3.0,3.0,3.0,1.0,2.0,2.0,12.0,1.0,...,2,2,1,1,1,69.0,5,2.0,4.0,0.0
2,2,2,2.0,2.0,2.0,3.0,2.0,1.0,4.0,2.0,...,1,1,2,1,1,68.0,5,4.0,12.0,0.0
3,2,2,3.0,3.0,3.0,1.0,2.0,2.0,7.0,2.0,...,2,2,1,2,1,70.0,5,4.0,0.0,3.0
4,1,1,3.0,3.0,3.0,1.0,1.0,2.0,6.0,2.0,...,2,2,2,2,2,60.0,4,4.0,5.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3436,2,2,3.0,3.0,3.0,1.0,2.0,2.0,3.0,1.0,...,2,1,1,1,1,63.0,1,3.0,3.0,2.0
3437,2,2,3.0,3.0,3.0,1.0,2.0,1.0,12.0,1.0,...,1,1,2,2,2,72.0,5,5.0,6.0,0.0
3438,2,2,2.0,2.0,2.0,3.0,2.0,2.0,10.0,1.0,...,1,2,2,2,2,65.0,1,2.0,1.0,1.0
3439,2,2,3.0,3.0,3.0,1.0,2.0,2.0,7.0,2.0,...,2,2,2,2,1,69.0,1,2.0,1.0,0.0
3440,2,2,2.0,2.0,2.0,4.0,2.0,2.0,7.0,2.0,...,2,2,2,2,2,69.0,1,4.0,2.0,0.0

In [17]:
# Change variable to insulin 

y = diabetes_df["diabetes"]-1
X = diabetes_df.drop(["diabetes"], axis=1)


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=80)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
y_train.value_counts()

1    2278
0     397
2      77
Name: diabetes, dtype: int64

In [20]:
# Changed the number of hidden nodes

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  64
hidden_nodes_layer2 = 32

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=3, activation="softmax"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                1792

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 3)                 99

=================================================================
Total params: 3,971
Trainable params: 3,971
Non-trainable params: 0
_________________________________________________________________

In [25]:
nn.compile(loss="sparse_categorical_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
86/86 [==============================] - 1s 1ms/step - loss: 0.6430 - accuracy: 0.7729
Epoch 2/20
86/86 [==============================] - 0s 983us/step - loss: 0.4627 - accuracy: 0.8579
Epoch 3/20
86/86 [==============================] - 0s 1ms/step - loss: 0.4352 - accuracy: 0.8641
Epoch 4/20
86/86 [==============================] - 0s 1ms/step - loss: 0.4219 - accuracy: 0.8641
Epoch 5/20
86/86 [==============================] - 0s 840us/step - loss: 0.4112 - accuracy: 0.8648
Epoch 6/20
86/86 [==============================] - 0s 938us/step - loss: 0.4030 - accuracy: 0.8648
Epoch 7/20
86/86 [==============================] - 0s 1ms/step - loss: 0.3968 - accuracy: 0.8652
Epoch 8/20
86/86 [==============================] - 0s 1ms/step - loss: 0.3904 - accuracy: 0.8652
Epoch 9/20
86/86 [==============================] - 0s 1ms/step - loss: 0.3818 - accuracy: 0.8663
Epoch 10/20
86/86 [==============================] - 0s 1ms/step - loss: 0.3745 - accuracy: 0.8674
Epoch 11/20
86/86 [==============================] - 0s 1ms/step - loss: 0.3674 - accuracy: 0.8656
Epoch 12/20
86/86 [==============================] - 0s 868us/step - loss: 0.3584 - accuracy: 0.8692
Epoch 13/20
86/86 [==============================] - 0s 931us/step - loss: 0.3517 - accuracy: 0.8699
Epoch 14/20
86/86 [==============================] - 0s 974us/step - loss: 0.3427 - accuracy: 0.8725
Epoch 15/20
86/86 [==============================] - 0s 882us/step - loss: 0.3354 - accuracy: 0.8790
Epoch 16/20
86/86 [==============================] - 0s 1ms/step - loss: 0.3285 - accuracy: 0.8775
Epoch 17/20
86/86 [==============================] - 0s 993us/step - loss: 0.3213 - accuracy: 0.8805
Epoch 18/20
86/86 [==============================] - 0s 1ms/step - loss: 0.3129 - accuracy: 0.8855
Epoch 19/20
86/86 [==============================] - 0s 822us/step - loss: 0.3065 - accuracy: 0.8859
Epoch 20/20
86/86 [==============================] - 0s 1ms/step - loss: 0.2965 - accuracy: 0.8899

In [27]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

22/22 - 0s - loss: 0.5723 - accuracy: 0.8418 - 160ms/epoch - 7ms/step
Loss: 0.572302520275116, Accuracy: 0.8417997360229492